<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- add sakai application scope bean definitions -->
   <!-- TODO: Change to use Sakai packaging method  -->
   <import resource="components.xml" />

	<!-- handles configuration of internationalization messages -->
   <bean id="messageLocator" class="uk.org.ponder.springutil.SpringMessageLocator">
      <property name="messageSource">
         <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
            <property name="basename">
               <value>WEB-INF/bundle/messages</value>
            </property>
            <property name="cacheSeconds">
               <value>10</value>
            </property>
         </bean>
      </property>
      <property name="localeGetter" ref="requestLocaleProxy" />
   </bean>

  <bean id="messageTemplateContributor" parent="templateContributorParent">
  	<property name="baseDirectory" value="content/component-templates/" />
  	<property name="templateNames" value="Messages,SearchCriteriaRenderer,SearchResultsRenderer,SortHeader" />
  </bean>

  <!-- Define the bean roots from the request scope file that are accessible 
    via incoming request URL -->
  <bean parent="requestAddressibleParent">
    <property name="value" value="searchFilterBean, sMSConfig, sMSConfigActionBean, SmsTestActionBean, SmsMessageLocator, SmsConfigLocator"/>
  </bean>

  <!-- The beans which will be preserved across a flow via simple instance
    copying -->
  <bean parent="copyPreservingParent">
    <property name="value" value="SmsMessageLocator"/>
  </bean>
  
  <bean id="smsMessageGuard" parent="writeGuardParent">
     <property name="guardedPath" value="SmsMessageLocator.*"/>
	 <property name="guard"> <bean class="org.sakaiproject.sms.validators.SmsMessageValidator" /></property>
  </bean>
  
  <bean id="smsConfigGaurd" parent="writeGuardParent">
  	<property name="guardedPath" value="SmsConfigLocator.*"/>
	<property name="guard"><bean class="org.sakaiproject.sms.validators.SmsConfigValidator" /></property>
  </bean>
  
</beans>