<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
	<title rsf:id="page-title">SMS Account</title>
	<link href="../css/tool_base.css" type="text/css" rel="stylesheet" media="all" />
	<link href="../css/default/tool.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body style="margin-left : 5px;">
	<h3 rsf:id="sms-account-heading" >SMS Account</h3>
	<form>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="accoutName" >
				Account Name
			</label>
			<input type="text" id="accoutName" />
		</p>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="sakaiSiteId" >
				Sakai Site Id
			</label>
			<input type="text" id="sakaiSiteId" />
		</p>	
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="sakaiUserId" >
				Sakai User Id
			</label>
			<input type="text" id="sakaiUserId" />
		</p>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="overdraftLimit" >
				Overdraft Limit
			</label>
			<input type="text" id="overdraftLimit" />
		</p>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="balance" >
				Balance
			</label>
			<input type="text" id="balance" />
		</p>		
	</form>
</body>
</html>