<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Task List</title>
<script type="text/javascript" language="JavaScript" src="../js/datePicker.js"></script>
<script type="text/javascript" language="JavaScript" src="../js/searchCriteria.js"></script>
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="../css/datePicker.css" type="text/css" media="all" />
</head>
<body onload="resetDates()">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div rsf:id="searchCriteria:"/>

<div rsf:id="search-results:">
	<fieldset><legend>Task List</legend> 

		<table style="width: 75%;" border="1">
		<thead>
			<th><a rsf:id="tableheader-name:" >Name</a></th>
			<th><a rsf:id="tableheader-house:" >House</a></th>
			<th><a rsf:id="tableheader-street:" >Street</a></th>
		</thead>
		<tbody>
			<tr rsf:id="dataset:">
			<td rsf:id="row-data-name">Bob</td>
			<td rsf:id="row-data-house">12</td>
			<td rsf:id="row-data-street">Place</td>
			</tr>
		</tbody>

		</table>
		<div style="border: 1;">
			<a href="#" rsf:id="prev">&lt;&lt;</a><a rsf:id="pageCount">Page x of y</a> <a href="#" rsf:id="prev">&gt;&gt;</a>
		</div>
	</fieldset>
</div>

<p></p>	
<div rsf:id="export:" style="padding-left: 10px">
	<input rsf:id="export-to-csv" type="submit" value="Export to CSV"/>
</div>


</body>
</html>