<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Task List</title>
<script type="text/javascript" language="JavaScript" src="../js/datePicker.js"></script>
<script type="text/javascript" language="JavaScript" src="../js/searchCriteria.js"></script>
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="../css/datePicker.css" type="text/css" media="all" />
</head>
<body onload="resetDates()">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div rsf:id="searchCriteria:"/>
<fieldset><legend rsf:id="table-caption">Task List</legend> 
<div rsf:id="searchResults:"/>
<p></p>
<div rsf:id="searchPager:"/>
</fieldset>
<p></p>	
<div rsf:id="export:" style="padding-left: 10px">
	<input rsf:id="export-to-csv" type="submit" value="Export to CSV"/>
</div>


</body>
</html>