<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
<title rsf:id="page-title">Search Window</title>
</head>
<body>
	<div align="left">
	<form action="#" rsf:id="sms-config-form">
  	<p>&nbsp;</p>
    <table>
      <tr>
        <td>Notification Email:</td>
        <td><input style="width: 200px" type="text" rsf:id="sms-config-notification-email"></input></td>
      </tr>
      <tr>
        <td>SMS Enabled for site:</td>
        <td>
        	<select rsf:id="sms-config-enabled">
        		<option value="true">Yes</option>
        		<option value="false">No</option>
        	</select>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
        <input rsf:id="save" type="submit" value="Save"/>
      </td>
      </tr>
    </table>
    </form>
</div>
</body>
</html>