<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Task List</title>
<script type="text/javascript" language="JavaScript" src="../js/datePicker.js"></script>
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="../css/datePicker.css" type="text/css" media="all" />

<script type="text/javascript">

	function clearSearchCriteria(){

		var textFields = new Array('mobileNumber','toolName','sender');
		for(var i = 0 ; i < textFields.length  ; i++){
			document.getElementById(textFields[i]).value = '';
		}
		
		document.getElementById('taskStatus').value = 'All';
		resetDates();
	}

	function resetDates(){
		var dateString = getToday();
		document.getElementById('dateFrom').value = dateString;
		document.getElementById('dateTo').value = dateString;
	}

	function getToday(){
		var now = new Date();
		var y = now.getFullYear();
		var m = now.getMonth() + 1;
		var d = now.getDate();
		var dateString = m + '/' + d + '/' + y; 
		return dateString;
	}

</script>
</head>
<body onload="resetDates()">

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div>
<fieldset><legend>Search / Filter</legend> <br>
<form action="#" rsf:id="task-search-criteria">
<table border="0">
	<tr>
		<td>Mobile Number:</td>
		<td><input id="mobileNumber" type="text" rsf:id="sms-task-mobile-number"></input></td>
		<td>Date From:</td>
		<td>
			<input id="dateFrom" type="text" value="" name="SelectedDate" id="SelectedDate" readonly">
		<td>	
			<img src="../images/calendar.gif" onclick="GetDate(document.getElementById('dateFrom'));">
		</td>
		</td>
		<td>Tool Name:</td>
		<td><input id="toolName" type="text" rsf:id="sms-task-tool-name"></td>
	</tr>
	<tr>
		<td>Task Status:</td>
		<td>
			<select id="taskStatus">
				<option>All</option>
				<option>Pending</option>
			</select> 
		</td>
		<td>Date To:</td>
		<td>
			<input id="dateTo" type="text" value="" name="SelectedDate" id="SelectedDate" readonly">
		</td>
		<td>	
			<img src="../images/calendar.gif" onclick="GetDate(document.getElementById('dateTo'))">
		</td>
		<td>Sender:</td>
		<td><input id="sender" type="text" rsf:id="sms-task-sender"></td>
	</tr>
</table>
	<input rsf:id="search" type="submit" value="Search"/>
	<input type="button" value="Reset" onclick="javascript:clearSearchCriteria()"/>
</form>	
</fieldset>
<div>

<div>
<fieldset><legend>Task List</legend> <br>
<form action="#" rsf:id="task-search-criteria">
</div>
<p></p>	
<div>
	<input rsf:id="exportToCSV" type="submit" value="Export to CSV"/>
</div>


</form>	
</fieldset>

</body>
</html>
